apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bff-service.fullname" . }}
  labels:
    {{- include "bff-service.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "bff-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "bff-service.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          envFrom:
            - secretRef:
                name: {{ include "bff-service.fullname" . }}
          env:
            - name: APP_NAME
              value: {{ .Chart.Name | quote }}
            - name: DEBUG
              value: {{ .Values.app.debug | quote }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
